footer{
    background-color: rgb(26, 87, 103);
    padding: 0 15%;
    padding-top: 60px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
footer h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
footer p{
    color: rgba(255, 255, 255, 0.572);
}

@media (max-width: 992px){
    footer{
        padding: 0 5%;
    }
}
@media (max-width: 768px){
    footer{
        display: block;
        padding-top: 50px;
        padding-bottom: 35px;
        margin-top: 50px;
    }
}