nav {
  padding: 0 15%;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}
.navChange{
  background-color: rgb(14, 116, 141);
}
nav h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 0 0;
}
nav div a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
}
.active{
  color: rgb(218, 131, 32);
  border-bottom: 2px solid rgb(218, 131, 32);
}
.active-link{
  color: blue;
}
nav button{
  margin-left: 20px;
  border: 0;
  background-color:rgb(14, 116, 141);
  font-size: 20px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}
.menuHide a {
  font-size: 22px;
  margin-left: 20px;
  /* display: inline-block; */
  display: static;
}
#menuIcon {
  display: none;
}

@media (max-width: 768px){
  nav {
    margin: 0 auto;
    padding: 0 10%;
  }
  nav h1{
    font-size: 30px;
  }
  nav button{
    margin-left: 0;
  }
  .menuHide {
    font-size: 22px;
    position: absolute;
    top: -100px;
  }
  .menuShow{
      position: absolute;
      display: flex;
      bottom: -120px;
      flex-direction: column;
      margin-left: 20px;
      background: linear-gradient(#0e748d, #0e748d16);
      margin: 0;
      width: 90%
  }
  #menuIcon {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }
}
@media (max-width: 992px){
  nav{
    padding: 0 5%;
  }
}
